doctype html
html
  head
    title Login Page
    style
      include ../assets/css/setStyle.css 
  body(class="login")
    div(class="center")
      h1() Login
      form(onsubmit="onAuthenticate(event)") 
        div(class="txt_field")
          input(required type='phone')
          span
          label Phone

        div(class="txt_field")
          input(type="password" required)
          span
          label Password
        input(type="submit" value="Login")
      include ./error.pug
      script
        include ../js/login.js       