main
    div(class="topbar")
        div( class="toggle")
            <ion-icon name="grid-outline"></ion-icon> 
        div(class="search")
            label
                input(type="text" placeholder="Search Here")
                <ion-icon name="search-circle-outline" class="search-circle-outline"></ion-icon>
        // user
        div(class="user")
            img(src="./images/system/avtar.jpg", alt="" style=" width: 3rem; height: 3rem")   

    section(id="brand")
        div(class="brand-content")
            div(class="title") Add Stock 
            p you can add stock to database from here !!!
            form(action="#" onsubmit="onAddStock(event)" id="form")
                div(class="user-details" id="userForm")
                    div(class='input-box quantity')
                        span(class="brand-details") Brand
                        select(name='brandId' id='brandId' onchange="onChangeBrand(this)")      

                    div(class='input-box quantity')
                        span(class="brand-details") Category
                        select(name='category' id='category' onchange="onChangeCategory(this)")    
                    div(class='input-box quantity')
                        span(class="brand-details") Size
                        select(name='quantity' id='quantity' onchange="onChangeQuantity(this)")    
                    div(class='input-box')
                        span(class="brand-details") Product Name
                        select(name='productName' id='productName' onchange="onChangeProductName(this)")    
                    div(class='input-box')
                        span(class="brand-details") Price
                        input(type="number" placeholder="Enter Price " id="price")
                    div(class='input-box')
                        span(class="brand-details") Discount
                        input(type="number" placeholder="Enter discount " id="discount")         
                    div(class='input-box')
                        span(class="brand-details") Our Price
                        input(type="number" placeholder="Enter price " id="ourPrice")
                    div(class='input-box')
                        span(class="brand-details") Stock
                        input(type="number" placeholder="Enter stock " required id="stock")
                    div(class='input-box')
                        span(class="brand-details") Add More Stock
                        input(type="number" placeholder="Enter stock " required id="add")                                                                                                                        
                    div(class='button')
                        input(type="submit" value="Add Stock")

