doctype html
html
  head
    title Add Item Page
    style
      include ../assets/css/nav.css
    style
      include ../assets/css/error.css
    style
      include ../assets/css/content.css
    style
      include ../assets/css/style.css
    style
      include ../assets/css/formsImage.css
    script.
      data =!{JSON.stringify(login)}  
  body
    include ./nav.pug
    section(class="interface" id="interface") 
      div(class="navigation")
        div(class="n1")
          div(class="menu" id="menu_btn")
            div(class="line_1")
            div(class="line_2")
            div(class="line_3") 
          div(class="search") 
            input(type="text", name="" placeholder="Search")
      form(class='form' id='form' onsubmit="onSave(event)")
          div(class="text_field")
            label(for="names") Choose a item 
            select(name="names" id="names" onchange="onChange()") Choose a Item
          div
            img(src="", alt="" id="oldimage")
          
          div
            input(
              type="file"
              id='newimage'
              required
            )  

          input(
            value ='Save'
              type='submit'
            )

  include ./error.pug 
script
      include ../js/change.js