header
    nav 
        ul 
            li 
                a(href='//google.com') Home
            li
                a(href='//google.com') Edit
            li
                a(href='//google.com') View
            li
                a(href='/addProductList') Add    