.container main section[id=brand] {
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5em 0.5rem 0;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container main section[id=brand] .brand-content {
  position: relative;
  max-width: inherit;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.container main section[id=brand] .brand-content p {
  padding: 0.2rem;
  font-size: 1.2rem;
  font-style: bold;
}
.container main section[id=brand] .brand-content .title {
  font-size: 2.5rem;
  font-weight: 980;
  position: relative;
}
.container main section[id=brand] .brand-content .title::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 7rem;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  left: 0;
  bottom: 0;
}
.container main section[id=brand] .brand-content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container main section[id=brand] .brand-content form .user-details .input-box {
  margin: 0.2rem 0 1.2rem 0;
  width: calc(50% - 2rem);
}
.container main section[id=brand] .brand-content form .user-details .input-box input, .container main section[id=brand] .brand-content form .user-details .input-box textarea {
  height: 4.5rem;
  width: 100%;
  outline: none;
  border: 0.1rem solid #ccc;
  padding-left: 1.5rem;
  font-size: 1.3rem;
}
.container main section[id=brand] .brand-content form .user-details .input-box input[type=file], .container main section[id=brand] .brand-content form .user-details .input-box textarea[type=file] {
  border: none;
}
.container main section[id=brand] .brand-content form .user-details .input-box input:valid, .container main section[id=brand] .brand-content form .user-details .input-box input:focus, .container main section[id=brand] .brand-content form .user-details .input-box textarea:valid, .container main section[id=brand] .brand-content form .user-details .input-box textarea:focus {
  background-color: #f0e7f4;
}
.container main section[id=brand] .brand-content form .user-details .input-box textarea {
  height: 6rem;
  padding: 0.2rem;
}
.container main section[id=brand] .brand-content form .user-details .input-box select {
  height: 4.5rem;
  width: 100%;
  outline: none;
  border: 0.1rem solid #ccc;
  padding-left: 1.5rem;
  font-size: 1.3rem;
}
.container main section[id=brand] .brand-content form .user-details .input-box select[type=file] {
  border: none;
}
.container main section[id=brand] .brand-content form .user-details .input-box select:valid, .container main section[id=brand] .brand-content form .user-details .input-box select:focus {
  background-color: #f0e7f4;
}
.container main section[id=brand] .brand-content form .user-details .input-box .file {
  border: 1px solid #ccc;
  width: 100%;
  height: 4.5rem;
  position: relative;
}
.container main section[id=brand] .brand-content form .user-details .input-box .file input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}
.container main section[id=brand] .brand-content form .user-details .input-box .file input:valid, .container main section[id=brand] .brand-content form .user-details .input-box .file input:focus {
  background-color: transparent;
}
.container main section[id=brand] .brand-content form .user-details .input-box .file:focus {
  background-color: #9b59b6;
}
.container main section[id=brand] .brand-content form .user-details .input-box .brand-details {
  font-size: 1.6em;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.container main section[id=brand] .brand-content form .user-details .button {
  height: 4.5rem;
  margin: 4.5rem 0;
  width: 100%;
}
.container main section[id=brand] .brand-content form .user-details .button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 1000;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container main section[id=brand] .brand-content form .user-details .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container main section[id=brand] .brand-content form .user-details {
    display: flex;
    flex-direction: column;
  }
  .container main section[id=brand] .brand-content form .user-details .input-box {
    margin: 2rem 0 1.2rem 0;
    width: calc(100% - 2rem);
  }
}

/*# sourceMappingURL=brand.css.map */
