*{
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
    background-color: #333;
    flex-direction: row;
    align-content: center;
}



.rightSide {
    margin-left: auto;
}

header nav ul li a {
    margin-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    text-decoration: none;
}

header nav ul li {
    margin: 0;
    padding: 0;
    padding: 20px;
    gap: 2px;
}
header nav ul li:hover {
    background-color: #111;
}

header nav ul {
    list-style: none;
}