.container header {
  height: 100%;
  width: 0;
  transition: 0.5s;
}
.container header nav {
  height: inherit;
  width: inherit;
}
.container header nav aside {
  height: inherit;
  position: fixed;
  width: inherit;
  background: #287bff;
  border-left: 1rem solid #287bff;
  transform: 0.5s;
  left: 0;
  overflow: hidden;
}
.container header nav aside ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
}
.container header nav aside ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.container header nav aside ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.container header nav aside ul li a .icon {
  position: relative;
  display: block;
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.container header nav aside ul li a .icon ion-icon {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
}
.container header nav aside ul li a .title {
  position: relative;
  display: block;
  padding: 0 1em;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: start;
}
.container header nav aside ul li:nth-child(1) {
  margin-bottom: 4rem;
  pointer-events: none;
}
.container header nav aside ul li:hover {
  background: #fff;
}
.container header nav aside ul li:hover a {
  color: #287bff;
}
.container header nav aside ul li:hover a::before {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: transparent;
  content: "";
  border-radius: 50%;
  top: -2rem;
  box-shadow: 1rem 1rem 0 0.2rem #fff;
  pointer-events: none;
}
.container header nav aside ul li:hover a::after {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: transparent;
  content: "";
  border-radius: 50%;
  bottom: -2rem;
  box-shadow: 1rem -1rem 0 0.2rem #fff;
  pointer-events: none;
}
.container header.active {
  width: 5rem;
}
@media (min-width: 414px) {
  .container header {
    width: 5rem;
  }
  .container header nav aside {
    left: inherit;
  }
}
@media (min-width: 800px) {
  .container header.active {
    width: 20rem;
  }
}

.container main {
  position: absolute;
  width: calc(100% - 0px);
  left: 0;
  min-height: 100vh;
  background: #fff;
  transition: 0.5s;
}
.container main .topbar {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.container main .topbar .toggle {
  position: relative;
  top: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
.container main .topbar .search {
  position: relative;
  width: 20rem;
  margin: 0 1rem;
}
.container main .topbar .search label {
  position: relative;
  width: 100%;
}
.container main .topbar .search label input {
  width: 100%;
  height: 3rem;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  outline: none;
  border: 0.1rem solid #999;
  padding-left: 4rem;
  font-size: 18sp;
}
.container main .topbar .search label .search-circle-outline {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  font-size: 2em;
}
.container main .topbar .user {
  position: relative;
  min-width: 4rem;
  height: 4rem;
  border-radius: hidden;
  overflow: hidden;
  cursor: pointer;
}
.container main .topbar .user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container main .cardBox {
  position: relative;
  width: 100%;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.container main .cardBox .card {
  position: relative;
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 7px 35px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.container main .cardBox .card .number {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #287bff;
}
.container main .cardBox .card .cardName {
  color: #999;
  font-size: 1.5em;
  margin-top: 5px;
}
.container main .cardBox .card .iconBx {
  font-size: 3.5em;
  color: #999;
}
.container main .cardBox .card:hover {
  background: #287bff;
}
.container main .cardBox .card:hover .number,
.container main .cardBox .card:hover .cardName,
.container main .cardBox .card:hover .iconBx {
  color: #fff;
}
.container main .details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 20x;
}
.container main .details .recentOrders {
  position: relative;
  display: grid;
  min-height: 300px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.container main .details .recentOrders .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container main .details .recentOrders .cardHeader h2 {
  font-size: 600;
  color: #287bff;
}
.container main .details .recentOrders .cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: #287bff;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}
.container main .details .recentOrders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.container main .details .recentOrders table thead tr td {
  font-weight: 600;
}
.container main .details .recentOrders table thead tr td:nth-child(2) {
  text-align: end;
  padding-right: 5px;
}
.container main .details .recentOrders table thead tr td:nth-child(3) {
  text-align: center;
}
.container main .details .recentOrders table thead tr td:last-child {
  text-align: end;
  padding-right: 10px;
}
.container main .details .recentOrders table tbody tr {
  color: #222;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container main .details .recentOrders table tbody tr:hover {
  background: #287bff;
  color: #fff;
}
.container main .details .recentOrders table tbody tr:last-child {
  border-bottom: none;
}
.container main .details .recentOrders table tbody tr td {
  padding: 1em;
  font-size: 1.2em;
}
.container main .details .recentOrders table tbody tr td:nth-child(2) {
  text-align: end;
}
.container main .details .recentOrders table tbody tr td:nth-child(3) {
  text-align: center;
}
.container main .details .recentOrders table tbody tr td:last-child {
  text-align: end;
}
.container main .details .recentOrders table tbody tr td .status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: #fff;
}
.container main .details .recentOrders table tbody tr td .status.pending {
  padding: 2px 4px;
  background: red;
  color: #fff;
}
.container main .recentCustomers {
  position: relative;
  padding: 20px;
  min-height: 500px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background: #fff;
}
.container main .recentCustomers .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container main .recentCustomers .cardHeader h2 {
  font-weight: 600;
  color: #287bff;
}
.container main .recentCustomers table tr {
  width: 100%;
  display: inline-block;
  transition: all 0.5s;
}
.container main .recentCustomers table tr td {
  padding: 12px 10px;
}
.container main .recentCustomers table tr td h4 {
  font-size: 10px;
  font-weight: 1000;
  line-height: 1.2em;
}
.container main .recentCustomers table tr td h4 span {
  font-size: 8px;
  color: #999;
}
.container main .recentCustomers table tr td .imgBx {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.container main .recentCustomers table tr td .imgBx img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container main .recentCustomers table tr:first-child {
  width: 100%;
  display: inline-block;
}
.container main .recentCustomers table tr:hover {
  background: #287bff;
  color: #fff;
  border-radius: 20px;
}
.container main.active {
  width: calc(100% - 5rem);
  left: 5rem;
}
@media (min-width: 414px) {
  .container main {
    width: calc(100% - 5rem);
    left: 5rem;
  }
  .container main .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
  .container main .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .container main .details .recentOrders {
    overflow: auto;
  }
  .container main.active {
    left: 5rem;
    width: calc(100% - 5rem);
  }
}
@media (min-width: 800px) {
  .container main.active {
    left: 20rem;
    width: calc(100% - 20rem);
  }
}

.container main section[id=brand] {
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5em 0.5rem 0;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container main section[id=brand] .brand-content {
  position: relative;
  max-width: inherit;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.container main section[id=brand] .brand-content p {
  padding: 0.2rem;
  font-size: 1.2rem;
  font-style: bold;
}
.container main section[id=brand] .brand-content .title {
  font-size: 2.5rem;
  font-weight: 980;
  position: relative;
}
.container main section[id=brand] .brand-content .title::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 7rem;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  left: 0;
  bottom: 0;
}
.container main section[id=brand] .brand-content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container main section[id=brand] .brand-content form .user-details .input-box {
  margin: 0.2rem 0 1.2rem 0;
  width: calc(50% - 2rem);
}
.container main section[id=brand] .brand-content form .user-details .input-box input {
  height: 4.5rem;
  width: 100%;
  outline: none;
  border: 0.1rem solid #ccc;
  padding-left: 1.5rem;
  font-size: 1.3rem;
}
.container main section[id=brand] .brand-content form .user-details .input-box input[type=file] {
  border: none;
}
.container main section[id=brand] .brand-content form .user-details .input-box input:valid, .container main section[id=brand] .brand-content form .user-details .input-box input:focus {
  background-color: #f0e7f4;
}
.container main section[id=brand] .brand-content form .user-details .input-box .file {
  border: 1px solid #ccc;
  width: 100%;
  height: 4.5rem;
  position: relative;
}
.container main section[id=brand] .brand-content form .user-details .input-box .file input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}
.container main section[id=brand] .brand-content form .user-details .input-box .file input:valid, .container main section[id=brand] .brand-content form .user-details .input-box .file input:focus {
  background-color: transparent;
}
.container main section[id=brand] .brand-content form .user-details .input-box .file:focus {
  background-color: #9b59b6;
}
.container main section[id=brand] .brand-content form .user-details .input-box .brand-details {
  font-size: 1.6em;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.container main section[id=brand] .brand-content form .user-details .button {
  height: 4.5rem;
  margin: 4.5rem 0;
  width: 100%;
}
.container main section[id=brand] .brand-content form .user-details .button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 1000;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container main section[id=brand] .brand-content form .user-details .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container main section[id=brand] .brand-content form .user-details {
    display: flex;
    flex-direction: column;
  }
  .container main section[id=brand] .brand-content form .user-details .input-box {
    margin: 2rem 0 1.2rem 0;
    width: calc(100% - 2rem);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html {
  font-size: 40%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
body .container {
  position: relative;
  width: 100%;
}

::selection {
  background: transparent;
}

@media (min-width: 800px) {
  html {
    font-size: 55%;
  }
}
@media (min-width: ) {
  html {
    font-size: 66.5%;
  }
}

/*# sourceMappingURL=setStyle.css.map */
